@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
.platypi{

        font-family: "Platypi", serif;
        font-optical-sizing: auto;
        font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*faz com que o padding e margin não aumentem o tamanho do elemento*/
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    
}

:root {
    --bg-color: #080808;
    --secondary-bd-color: #121212;
    --text-color: #e4e4e4;
    --main-color: #275179;
}
html{
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}